[Data]
#targetSASids:201299, 201301
targetSASids:201522
calibratorSASids:
#TargetName:H128+44
TargetName:H079+07
PROJECTid:MSSS_HBA_2013

#Product type is observation or pipeline
ProductType:observation
max_per_node = 40

[Operations]
Stage: False
Retrieve: False
Process: False

#Change this part with full paths
[Paths]
WorkingPath:/home/janis/Documents/msss/
PrefactorPath:/home/janis/Documents/prefactor/
lofarroot:/opt/cep/lofim/daily/Wed/lofar_build/install/gnucxx11_opt/
casaroot:%(lofarroot)s
pyraproot:/BlaBla
hdf5root:/BlaBla
wcsroot:/BlaBla
losotoPath:/BlaBla
aoflagger:/BlaBla
wsclean_executable:/home/drabent/wsclean
